@font-face {
  font-family: 'Magazine';
  font-weight: 400;
  src : local('Magazine-Regular'),
  url("/fonts/Magazine-Regular.woff2") format("woff2"),
  url("/fonts/Magazine-Regular.woff") format("woff"),
  url("/fonts/Magazine-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Magazine';
  font-weight: 700;
  src : local('Magazine-Bold'),
  url("/fonts/Magazine-Bold.woff2") format("woff2"),
  url("/fonts/Magazine-Bold.woff") format("woff"),
  url("/fonts/Magazine-Bold.ttf") format("truetype");
}
